
{% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link href="{{ asset('css/style2.css') }}" rel="stylesheet"/>
        <title>Login</title>
{% endblock %}



{% block body %}
{% block content %}
<main>
        <div class="container">
            <div class="login_content">
                <img src="{{ asset('img/man.png')}}" alt="login_img" class="login_img">
                <form method="post" class="login_form" id="login-form">

                    
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté(e) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
            </div>
        {% endif %}
        
                    <div>
                        <h1 class="login_title">
                            <span>Connectez</span>Vous
                        </h1>
                        <p class="login_description">
                            Bonjour! Connectez vous pour continuer.
                        </p>
                    </div>

                    <div>
                        <div class="login_inputs">
                            <div>
                            <label for="inputEmail" class="login_label">Email</label>
                            <input id="inputEmail" type="email" placeholder="Entrez votre Email"  class="login_input" value="{{ last_username }}" name="email" autofocus>
                        </div>
                        

                        <div>
                            <label for="inputPassword" class="login_label">Mot de Passe</label>

                        <div class="login_box">
                            <input id="inputPassword" type="password" placeholder="Entrez votre Mot de Passe"  class="login_input" autocomplete="current-password" name="password">
                            <i class="ri-key-fill login_eye" id="input-icon"></i>
                           </div>
                           <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                    </div>
                            <div class="login_check">
                               
                            </div>
                            </div>


                            <div>
                                <div class="login-buttons">
                                    <button class="login_button">Se Connecter</button>
                                    <a href="{{path('app_register')}}" class="login_button login_button-ghost">S'inscrire</a>

                              
                </form>
            </div>
        </div>
    </main>
    {% endblock %}
{% endblock %}
