{% extends 'base.html.twig' %}

{% block title %}Detail Manif{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/scriptpagearticles.js') }}" defer></script>
    {% endblock %}
{% block body %}
{% block content %}


<div class="presentation">
<h1>Népal - Concert</h1>
<h1 class="trinity">Cheddar</h1>
<h1>MARDI 20 DECEMBRE 2022</h1>
<h1>A BAYONNE</h1>
</div>

<section class="section_detail">
    <div class="detail_flex">
        <img src="{{ asset('img/') }}{{ manif.affiche }}" class="image_detail">
        <div id="page_detail">
            <h3 class="date_detail">{{ manif.date }}  -  {{ manif.horaire }}</h3>
            <div id="barre"></div>
            <h2 class="titre_detail">{{ manif.titre }}  -  <span class="genre_detail">{{ manif.genre }}</span></h2>
            <h2 class="descript_detail">{{ manif.descript }}</h2>
            <table class="customers">

                <tbody>
                <td class="reserver_titre" id="article">{{ manif.titre }}</td>
                <td class="place_detail">Nb Place :</td>
                <td class="detail_prix"> <span id="prix">{{ manif.prix }}</span>€</td>
                <td><input type="number" value="1" min="1" max="99" id="qte">
                    <input type="hidden" id="id" value="{{ manif.id }}">
                    <button id="ajout">RÉSERVER</button></td>
                </tbody>
            </table>
        </div>
    </div>




       </section>

<footer class="footer">
    <div class="footer__addr">
        <h1 class="footer__logo">Le Pestacle</h1>
        <h2>Contact</h2>
        <address>
            9 Rue Quebec, 10430 Rosières-prés-Troyes<br>
            <a class="footer__btn" href="mailto:juleshemon63@gmail.com">Notre Mail</a>
        </address>
    </div>
    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title">Genre</h2>
            <ul class="nav__ul">
                <li><a href="#">Théâtre</a></li>
                <li><a href="#">Concert</a></li>
                <li><a href="#">Cinéma</a></li>
                <li><a href="#">Spectacle</a></li>
            </ul>
        </li>
        <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Compte</h2>
            <ul class="nav__ul">
                <li><a href="#">Mot de passe oublié ?</a></li>
                <li><a href="#">Connexion</a></li>
            </ul>
        </li>
        <li class="nav__item">
            <h2 class="nav__title">Aide</h2>
            <ul class="nav__ul">
                <li><a href="#">Comment réserver ?</a></li>
                <li><a href="#">Comment se créer un compte ?</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </li>
        <li class="nav__item">
            <h2 class="nav__title">Le Pestacle</h2>
            <ul class="nav__ul">
                <li><a href="#">A propos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </li>
    </ul>
</footer>

{% endblock %}
{% endblock %}
