{% extends 'base.html.twig' %}

{% block title %}Manif index{% endblock %}

{% block body %}
<body>
   <header>
<nav>
<ul class="menu">
        <li><a href="../accueil">ACCUEIL</a></li> 
        <li><a href="../salle">SALLES</a></li> 
        <li><a href="../manif">MANIFESTATIONS</a></li> 
        <li><a href="../panier">PANIER:<span id='panier'>0</span></a></li> 
        <li><a href="../login">CONNEXION</a></li> 
        <li><a href="../admin">ADMIN</a></li> 
        </ul>
        </nav>
        </header>
       
       <div id="back_accueil">
<div class="presentation">
<h1 class="laylow">Népal - Concert</h1>
<h1 class="trinity">Cheddar</h1>
<h1 class="mardi">MARDI 20 DECEMBRE 2022</h1>
<h1 class="bayonne">A BAYONNE</h1>
</div>

<form action="reponse_recherche.php" method="GET" data-parsley-validate class="nav_form">
    <input type="search" id="real" placeholder="Recherche" list="manifestation" name="recherche_manifs" autocomplete="off" />
    <input type="submit" id="bouton_recherche" value="Envoyer"> 
</form>
<section class="container_panier">
<div class="table_salle">
    <table class="customers">
        <thead>
            <tr>
                <th>Genre</th>
                <th>Titre</th>
                <th>Descript</th>
                <th>Casting</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Horaire</th>
                <th>Réserver</th>
            </tr>
        </thead>
        <tbody>
        {% for manif in manifs %}
            <tr>
                <td>{{ manif.genre }}</td>
                <td>{{ manif.titre }}</td>
                <td>{{ manif.descript }}</td>
                <td>{{ manif.casting }}</td>
                <td>{{ manif.prix }}</td>
                <td>{{ manif.date }}</td>
                <td>{{ manif.horaire }}</td>
                <td><a href="../manifestation" id="reserver">Réserver</a></td>


            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </section>
</body>
{% endblock %}
