{% extends 'base.html.twig' %}

{% block title %}Manif index{% endblock %}

{% block body %}
<header>
<nav>
   <a href="../accueil">Accueil</a> ,
        <a href="../salle">Lieux</a> ,
        <a href="../manif">Manifestations</a> ,
        <a href="../panier">Panier:<span id='panier'>0</span></a> ,
        <a href="../login">Connexion</a> ,
        <a href="../admin">Administration</a> , 
        </nav>
        </header>
    <h1>Manif index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Genre</th>
                <th>Titre</th>
                <th>Descript</th>
                <th>Casting</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Horaire</th>
            </tr>
        </thead>
        <tbody>
        {% for manif in manifs %}
            <tr>
                <td>{{ manif.genre }}</td>
                <td>{{ manif.titre }}</td>
                <td>{{ manif.descript }}</td>
                <td>{{ manif.casting }}</td>
                <td>{{ manif.prix }}</td>
                <td>{{ manif.date }}</td>
                <td>{{ manif.horaire }}</td>
                <td><a href="../manifestation">Réserver</a></td>


            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
