{% extends 'base.html.twig' %}

{% block title %}DataUserPaypal{% endblock %}

{% block body %}
    <h1>DataUserPaypal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ data_user_paypal.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ data_user_paypal.adresse }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ data_user_paypal.numero }}</td>
            </tr>
            <tr>
                <th>Paypal_User</th>
                <td>{{ data_user_paypal.PaypalUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_data_user_paypal_index') }}">back to list</a>

    <a href="{{ path('app_data_user_paypal_edit', {'id': data_user_paypal.id}) }}">edit</a>

    {{ include('data_user_paypal/_delete_form.html.twig') }}
{% endblock %}
