
{{ form_start(form,  {'attr': {'id': 'form_coordonne'}}) }}
    {{ form_row(form.adresse, {'attr': {'id': 'form_label'}}) }}
    {{ form_row(form.numero, {'attr': {'id': 'form_label'}}) }}


    {{ form_row(form.numero_carte, {'attr': {'id': 'form_label'}}) }}
    {{ form_row(form.titulaire_carte, {'attr': {'id': 'form_label'}}) }}
    {{ form_row(form.crypt, {'attr': {'id': 'form_label'}}) }}


<button>{{ button_label|default('Enrengistrer', {'action': path('app_accueil')}) }}</button>
{{ form_end(form) }}

