{{ form_start(form) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.numero) }}
<button type="button" id="bouton" class="btn-primary">Hide List</button>

<div class="paypal">


    {{ form_row(form.numero_carte) }}
    {{ form_row(form.titulaire_carte) }}
    {{ form_row(form.crypt) }}
</div>
<button type="button" id="touche" class="btn-primary">Hide List</button>

<div class="carte">

{{ form_row(form.paypal_user) }}
</div>
<form action="{{ path('app_accueil') }}">
<button>{{ button_label|default('Enrengistrer') }}</button>
</form>
{{ form_end(form) }}

    {% block javascript %}
    <script type="text/javascript">

    const toggleBtn = document.querySelector('#bouton');
    const divList = document.querySelector('.paypal');

    toggleBtn.addEventListener('click', () => {
        if (divList.style.display === 'none') {
            divList.style.display = 'block';
            toggleBtn.innerHTML = 'Hide List';
        } else {
            divList.style.display = 'none';
            toggleBtn.innerHTML = 'Show List';
        }

    });

        const bouton = document.querySelector('#touche');
        const list = document.querySelector('.carte');

        bouton.addEventListener('click', () => {
        if (list.style.display === 'none') {
        list.style.display = 'block';
        bouton.innerHTML = 'Hide List';
    } else {
        list.style.display = 'none';
        bouton.innerHTML = 'Show List';
    }

    });


    </script>
    {% endblock %}