<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% block javascript %}
        <script type="text/javascript" src="{{ asset('js/scriptgeneral.js') }}" defer></script>
    {% endblock %}

    </head>
<body>
    <header>
<nav>
<ul class="menu">
        <li><a href="{{ path('app_accueil') }}">ACCUEIL</a></li>
        <li><a href="{{ path('app_salle_index') }}">SALLES</a></li> 
        <li><a href="{{ path('app_manif_index') }}">MANIFESTATIONS</a></li> 
        <li><a href="{{ path('app_panier') }}">PANIER:<span id='panier'>0</span></a></li> 
        {% if app.user %}
        <li><a href="{{ path('app_user') }}">MON COMPTE</a></li>
        <li><a href="{{ path('app_logout') }}">DECONNEXION</a></li>
        {% else %}
        <li><a href="{{ path('app_login') }}">CONNEXION</a></li> 
        <li><a href="{{ path('app_register') }}">INSCRIPTION</a></li> 

             {% endif %}        
        <li><a href="admin">ADMIN</a></li> 
        </ul>
        </nav>
        </header>
      <div id="back_accueil">
<div class="presentation">
<h1>Népal - Concert</h1>
<h1 class="trinity">Cheddar</h1>
<h1>MARDI 20 DECEMBRE 2022</h1>
<h1>A BAYONNE</h1>
</div>
      </div>




          {% block content %}

          {% endblock %}


</body>
</html>